.mobileTabContainer {
    display: none;
}

.navGroup {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navLink {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--textWhite) !important;
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 0.75rem;
    transition: 0.4s ease;
}

.active {
    background: var(--accent);
}


.navLink svg {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .mobileTabContainer {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background: var(--bgDark);
        backdrop-filter: blur(10px);
        border-top: 1px solid var(--gridWhite);
        justify-content: space-around;
        align-items: center;
        z-index: 1000;
        padding: 1rem 2rem;
    }
}