.dashboardContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.infoMainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.infoMainContainer h1 {
    font-size: 1.5rem;
}

.infoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background: var(--gridWhite);
    padding: 1px;
    overflow: hidden;
}

.infoElement:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
    align-self: start;
}

.infoElement:nth-child(2) {
    grid-area: 2 / 1 / 4 / 2;
}

.infoElement:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
}

.infoElement:nth-child(4) {
    grid-area: 3 / 2 / 4 / 3;
}

.infoElement:nth-child(5) {
    grid-area: 2 / 3 / 4 / 4;
}

.infoElement:nth-child(1) span {
    font-weight: 800 !important;
}

.logItem {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logEvent {
    font-weight: 600;
}

.infoElement {
    padding: 1rem;
    background: var(--bgDark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logTime {
    font-size: 0.75rem;
    color: var(--lightGray);
}

.infoContainer li svg {
    font-size: 2rem;
}

.infoValue {
    font-size: 2rem;
    font-weight: 700;
}

.infoName {
    color: var(--textWhite);
    font-size: 1rem;
}

@media (max-width: 1024px) {
    .infoContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .infoElement:nth-child(1) {
        grid-area: 1 / 1 / 2 / 4;
    }

    .infoElement:nth-child(2) {
        grid-area: 2 / 1 / 3 / 4;
    }

    .infoElement:nth-child(3) {
        grid-area: 3 / 1 / 4 / 4;
    }

    .infoElement:nth-child(4) {
        grid-area: 4 / 1 / 5 / 4;
    }

    .infoElement:nth-child(5) {
        grid-area: 5 / 1 / 6 / 4;
    }
}

@media (max-width: 768px) {
    .infoContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .infoElement:nth-child(1) {
        grid-area: 1 / 1 / 2 / 4;
    }

    .infoElement:nth-child(2) {
        grid-area: 2 / 1 / 3 / 4;
    }

    .infoElement:nth-child(3) {
        grid-area: 3 / 1 / 4 / 4;
    }

    .infoElement:nth-child(4) {
        grid-area: 4 / 1 / 5 / 4;
    }

    .infoElement:nth-child(5) {
        grid-area: 5 / 1 / 6 / 4;
    }
}


/* RECENT PROJECTS */

.projectMainContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
}

.projectMainContainer a {
    /* border-radius: 1rem; */
    border: 2px solid var(--gridWhite);

    overflow: hidden;
    transition: 0.4s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0;
    color: var(--textWhite);
    padding: 0;
}

.projectMainContainer a:hover {
    scale: 1.05;
    border: 2px solid var(--textWhite);
    box-shadow: var(--boxShadow1);
}

.imageContainer {
    height: 100%;
    padding: 0;
    margin: 0;
}

.projectPicture {
    width: 100%;
}

.projectNameContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectTypeIcon {
    font-size: 1.5rem;
}

.projectInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    background: var(--bgDark);
}

.progressContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.projectProgressOuter {
    position: relative;
    width: 100%;
    height: 0.75rem;
    background: var(--lightGray);
    border: 1px solid var(--textWhite);
}

.progressInner {
    position: absolute;
    height: 0.75rem;
    width: 80%;
    background: var(--accent);
    border: 2px solid var(--textWhite);
    box-shadow: var(--boxShadow2);
}

.projectLastUpdate {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    color: var(--lightGray);
}

@media (max-width: 1024px) {
    .projectMainContainer {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

}

@media (max-width: 768px) {
    .projectMainContainer {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

}